<marquee><h1>The Cat <%=@cat.name%></h1></marquee>
<table>
<% [:birthday, :age, :color, :sex, :description].each do |el| %>
  <tr>
    <td> <%= el %> </td>
    <td> <%= @cat.send(el) %> </td>
  </tr>
<% end %>
</table>
<br><br>

<ul>
<% @requests.each do |request| %>
    <li>
      <%= request.start_date %> to <%= request.end_date %> status: <%= request.status %>
      <form action="<%=approve_cat_rental_request_url(request.id) %>" method="post">
        <%=hidden_patch%>

       <button>Approve!</button></form><form action="<%=deny_cat_rental_request_url(request.id) %>" method="post">
         <%=hidden_patch%>
        <button>Deny!</button></form>
    </li>

<% end %>
</ul>










<a href="<%= cats_url %>">ALL Cats</a><br>
<a href="<%= edit_cat_url(@cat.id) %>">Edit Cat</a>
