<!DOCTYPE html>
<html>
<head>
  <title>Cats99</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    Hello,  <%= current_user.user_name %> ! <br>
    <form action="/sessions" method="post">
      <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="delete">
      <button>Logout</button>
    </form>
  <% else %>
  <a href="/users/new">SIGN UP NOW!!!!!!!!</a>
  <a href="/sessions/new">Login</a>
  <%end%>



<%= yield %>

</body>
</html>
